
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div> @*to make validation*@
	<div class="agileits-top">

		<div>
			<p>
				Reset Password Link has been send to your Email, please check your Inbox.
			</p>
		</div>

	</div>
</div>

<div class="colorlibcopy-agile">
	<p>© 2018 Colorlib Check Your Inbox Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
</div>

