@model EmployeeViewModel
@{
    ViewData["Title"] = "Update";
}


<h1>Update Employee</h1>

<form asp-action="Update" enctype="multipart/form-data">
    @*send this form to Create method*@

    <partial name="PartialViews/CreateUpdateEmpPartialView" model="Model" />
    <input hidden asp-for="ImageName" />

    <input type="submit" value="Save" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>


